<ion-view view-title="{{ '_calendar' | translate }}">

  <ion-nav-buttons side="right">
    <!--<button class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>-->
    <button class="button button-icon button-clear ion-android-add" id = "addEvent" ng-click="addEvent();"></button>
  </ion-nav-buttons>

 	 <ion-content hideBackButton="true">

     <ion-list-header class="row list_header">
      <i class="fa fa-angle-left fa-3x col col-10" ng-click="previous()"></i>
      <h3 class="monthName col">{{month}} {{year}}</h3>
      <i class="fa fa-angle-right fa-3x col col-10" ng-click="next()"></i>
    </ion-list-header>
    <ion-grid>
        <ion-row class="row no-padding">
            <ion-col class="col weekDays"> Su </ion-col>
            <ion-col class="col weekDays"> Mo </ion-col>
            <ion-col class="col weekDays"> Tu </ion-col>
            <ion-col class="col weekDays"> We </ion-col>
            <ion-col class="col weekDays"> Th </ion-col>
            <ion-col class="col weekDays"> Fr </ion-col>
            <ion-col class="col weekDays"> Sa </ion-col>
      </ion-row>
      <ion-row class="row no-padding" ng-repeat="week in weeks">
        <ion-col class="col col-15 day" ng-repeat="day in week track by $index"
           ng-click="seeEvents(day)"> {{day.number}}
          <ion-col class="event no-padding" ng-style="{'background-color':'{{event.color}}'}" ng-repeat="event in day.events">{{ }}</ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
 	 </ion-content>


</ion-view>
