<ion-view view-title="{{ '_challenges' | translate }}">
 	 <ion-content hideBackButton="true">
     <div class="list">
        <br>
         <a class="item item-thumbnail-left" href="#">
           <img src="img/3k.png">
           <h2>A Great Place To Start</h2>
           <p>3 km</p>
         </a>
         <br>
         <a class="item item-thumbnail-left" href="#">
           <img src="img/5k.png">
           <h2>The Next Step</h2>
           <p>5 km</p>
         </a>
         <br>
         <a class="item item-thumbnail-left" href="#">
           <img src="img/10k.png">
           <h2>A Serious Goal</h2>
           <p>10 km</p>
         </a>
     </div>
 	 </ion-content>
</ion-view>
