<ion-view view-title="{{ '_challenge' | translate }}">
 	 <ion-content hideBackButton="true">
     <div ng-controller="ChallengesCtrl">
       <div class="list card">
         <div class="item item-avatar">
           <img src="{{source}}">
           <h2>{{message}}</h2>
           <p>{{distance}} km</p>
         </div>
         <div class="item item-body">
           <img class="full-image" src="{{src}}">
           <p>
             In this challenge, you are expected to run for {{time}} minutes. Are you ready to run for {{distance}} kilometres?
           </p>
           <a class="item item-icon-left assertive" href="#">
           <i class="icon ion-play"></i>
           Start Running
          </a>
       </div>
    </div>
 	 </ion-content>
</ion-view>
