<ion-view view-title="{{ '_create_plan' | translate }}">
    <ion-content hideBackButton="true">
      <div align = "center">
      <h3> Pick Your Plan </h3>
      <div align = "center">

      <div ng-controller="CreatePlanCtrl">
        <div class="card">
          <div ng-click="threeKm()">
              <img src="img/exercise.png" height="100" width="300"/>
          </div>
        </div>
        <div class="card">
          <div ng-click="exercise()">
            <img src="img/exercise.png" height="100" width="300"/>

          </div>
        </div>
        <div class="card">
          <div  ng-click="tips()">
            <img src="img/tips.png" height="100" width="300"/>

          </div>
        </div>
        </div>

    </ion-content>
</ion-view>
