<ion-view view-title="{{ '_create_plan' | translate }}">
    <ion-content hideBackButton="true">
      <div ng-controller="DashboardCtrl">
      <div class="card">
        <button class="button button-full button-positive" ng-click = "gotoapp()" >

          <img src="img/3k.png"/>
          </button>
        </div>
        <div class="card">
          <button class="button button-full button-positive" ng-click = "gotoapp()" >

            <img src="img/3k.png"/>
            </button>
          </div>
          <div class="card">
            <button class="button button-full button-positive" ng-click = "gotoapp()" >

              <img src="img/3k.png"/>
              </button>
            </div>
      </div>
    </ion-content>
</ion-view>
