<ion-view view-title="{{day.name}}">
  <ion-nav-buttons side="right">
    <!--<button class="button button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"></button>-->
    <button class="button button-icon button-clear ion-android-add" ng-click="addEvent();"></button>
  </ion-nav-buttons>

  <ion-content hideBackButton="true">
    <form>
    <div class="item item-input item-stacked-label eventsOfDay" ng-repeat="event in eventsOfDay" ng-model="event">
      <div class="row" ng-style="{'background-color':'{{event.color}}'}">
        <div class="col col-75 eventName" ng-hide="event.inEdition">
          {{event.name}}
        </div>
        <div class="col col-75 eventName" ng-show="event.inEdition">
          <input type="text" ng-model="event.name" value="{{event.name}}">
        </div>
        <div class="col col-30 utilities_btns">
        <button data-toggle='tooltip' title='Edit' class="right-edge" ng-click="editEvent(event);"><i class="fas fa-edit"></i></button>
        <button data-toggle='tooltip' title='Delete' class="right-edge" ng-click="deleteEvent(event);"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <div class="col">From :
        <span ng-hide="event.inEdition">{{event.startHour}}:{{event.startMin}}</span>
        <input ng-show="event.inEdition" ng-model="event.startTime" type="time" value="{{event.startHour}}:{{event.startMin}}">
      </div>
      <div class="col">To :
        <span ng-hide="event.inEdition">{{event.endHour}}:{{event.endMin}}</span>
        <input ng-show="event.inEdition" type="time" ng-model="event.endTime" value="{{event.endHour}}:{{event.endMin}}">
      </div>
      <div class="row">
        <button type="submit" ng-click="submitEdit(event)" ng-style="{'background-color':'{{event.color}}'}" ng-show="event.inEdition" class="col col-30 right-edge-black">Submit</button>
        <button ng-style="{'background-color':'{{event.color}}'}" ng-show="event.inEdition" class="col col-30 right-edge-black" ng-click="cancelEdit(event)">Cancel</button>
      </div>
    </div>
    </form>
  </ion-content>
</ion-view>
