<style >



</style>
<ion-view view-title="{{ '_challenge' | translate }}">

 	 <ion-content hideBackButton="true">
    <div ng-controller="CreatePlanCtrl">

      <div id="myDIV">
 <p> {{text}} </p>
    <video id ="change" width="320" height="240" controls>
  <source src="img/video1.mp4" type="video/mp4">

  Your browser does not support the video tag.
</video>


        </div>




<button class="button button-full button-positive" ng-click="myFunction('img/video1.mp4')"> Warm up </button>

<button class="button button-full button-positive" ng-click="myFunction('img/video2.mp4')">Jumping Lunge </button>



</div>
 	 </ion-content>
</ion-view>
