<ion-view view-title="{{ '_foodInfo' | translate }}">

	<ion-content hideBackButton="true">
		<form ng-controller="FoodInfoCtrl" ng-submit="addToList()">
		<div class="list">
			<h1 align="center" id="foodname">{{food.name}}</h1>

			<label class="item item-input item-stacked-label">
				 <span class="input-label">Calories : {{food.calories}} kcal</span>
		   </label>
		   <label class="item item-input item-stacked-label">
				 <span class="input-label">Amount : </span>
				  <input class="input-amount" type="number" name="amount" ng-model="food.amount"  min="0.5" max="1000" step="0.5" required ng-change="change()"/>
		   </label>
		   <label class="item item-input item-stacked-label">
				 <span class="input-label">Unit : {{food.unit}}</span>
		   </label>

		   <input type="submit" value="Add food to list"/>

		</div>
		</form>
	</ion-content>

</ion-view>