<ion-view view-title="{{ '_new_food' | translate }}">

 	 <ion-content hideBackButton="true">
 	 	<form ng-controller="FoodCtrl" ng-submit="save()">
 	 	<div class="list">
 	 		<label class="item item-input item-stacked-label">
          		<span class="input-label">Food Name: </span>
          		<input type="text" placeholder="Food" ng-model="foodName">
        	</label>

        	<label class="item item-input item-stacked-label">
          		<span class="input-label">Calories for 100g: </span>
          		<input type="number" placeholder="Calories in cal" min="1"  ng-model="calories">
        	</label>

        	<input type="submit" value="Save new food">
 	 	</div> 	 	 	 	    
 	 	</form>
 	 </ion-content>

	      
</ion-view>