<ion-view view-title="{{ '_profile' | translate }}">
    <ion-content hideBackButton="true">
      <form ng-controller="ProfileCtrl" ng-submit="save(user)">
    		<img ng-click="setPhoto($index)" src="img/profile-picture.png" class="profile-picture">
    		<div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="Email" value={{data.email}} readonly>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Age</span>
          <input type="number" name="age" placeholder="Age in years" ng-model="user.age" value={{data.age}} required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Weight (Kg)</span>
          <input type="number" name="weight" placeholder="Weight in Kg" ng-model="user.weight" value={{data.weight}} required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Height (m)</span>
          <input type="number" name="height" placeholder="Height in meters" ng-model="user.height" value={{data.height}} required>
        </label>
          <button type="submit" class="button button-block">Save</button>
        </div>
      </form>
    </ion-content>
</ion-view>
