<ion-view view-title="Sign In">
        <ion-content padding="50" ng-controller="SignInCtrl">
            <form>
                <div class="list">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">email</span>
                    <input type="text" placeholder="email" ng-model="email">
                  </label>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">password</span>
                    <input type="password" placeholder="password" ng-model="password">
                  </label>
                  <div class="signinloginbutton">
                        <button class="button button-block button-positive" ng-click="returnValidator()" >
                                Sign In
                        </button>
                 </div> 
                </div>
            </form>
    
        </ion-content>
    
    </ion-view>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<ion-view view-title="Sign In">
   <ion-content class= "signin-bckground-color">
           <div class="hero no-header flat" style="background: url(img/icon.png) center; height:150px;">
           </div>
       <div class="login">
           
               <ion-label fixed>Email</ion-label>
               <ion-input type="text" class="sc-ion-input-ios-h sc-ion-input-ios-s hydrated">
               <div class="form-group">
                       <input type="text" class="form-control" id="usr">
                     </div>
                   </ion-input>
        
           <ion-label fixed>Password</ion-label>
           <ion-input type="text" class="sc-ion-input-ios-h sc-ion-input-ios-s hydrated has-focus"></ion-input>
           <div class="form-group">
                   <input type="password" class="form-control" id="pwd">
                 </div>
               </ion-input>

               <div class="signinloginbutton">
                       <button class="button button-block button-positive" ng-click="putUser()" >
                               Sign In
                       </button>
               </div>

           </div>
   </ion-content>
</ion-view>-->