<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<ion-view view-title="{{ '_Tips' | translate }}">

 	 <ion-content hideBackButton="true">
    <div ng-controller="CreatePlanCtrl">


<div class="list-group">
  <button type="button" class="btn btn-info list-group-item list-group-item-action " data-toggle="collapse" data-target="#tip1">Tip #1: Safety first</button>
  <div id="tip1" class="collapse">
<card><p>
  Make sure to check with your doctor if you have any medical conditions that might prevent you from running safely.</p></card>
    </div>

    <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip2">Tip #2: Start slow.</button>
    <div id="tip2" class="collapse">
    <card>  <p>
        There is no need to try to run 10 miles on your first run. Try the five on, five off method. Run for five minutes and walk for five minutes, for a total of 30 minutes. After a couple of weeks, you can slowly increase the running time and decrease the walking time.</p>
        </card>
      </div>




        <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip3">Tip #3: Know that it is okay to walk.</button>
        <div id="tip3" class="collapse">
        <card>  <p>
            Walking during your running allows your body to take a small break and build up energy for your muscles to use while running. This method helps to prevent injuries that can easily occur while running long distances.
          </div>


          <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip4">Tip #4: Design a training plan.</button>
          <div id="tip4" class="collapse">
          <card>  <p>
            If you are signed up for a race, you will need a plan. You have to run, strength-train, cross-train and have rest days each week, so it is best to come up with a way to accomplish all of this. I have always used Hal Higdon training plans since they are designed by experts. You can print them out and check off each day or even download them to your phone. They even have running training apps you can download to your phone.

            </div>


            <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip5">Tip #5: Figure out your proper fueling.</button>
            <div id="tip5" class="collapse">
            <card>  <p>
               Every body is different. Some runners are not able to eat certain foods right before running, while others have iron stomachs that never get sick. A basic rule of thumb is to eat something with carbohydrates an hour before running (it can even be a meal if you can stomach it), then eat more carbohydrates plus protein to replenish the energy lost when running within 30 minutes of finishing your run. </p>
                </card>
              </div>


              <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip6">Tip #6: Hydrate properly.</button>
              <div id="tip6" class="collapse">
              <card>  <p>
                  This is another one where it depends on your body. Most bodies require hydration every 30 minutes of exercise. Hydration during running also depends on the weather. Is it dry? Is it humid? Are you sweating like a maniac upon walking out your front door? I always have water with me and take small sips when I feel thirsty to ensure I do not get dehydrated.</p>
                  </card>
                </div>


                <button type="button" class="btn btn-info list-group-item list-group-item-action" data-toggle="collapse" data-target="#tip7">Tip #7: Listen to your body.</button>
                <div id="tip7" class="collapse">
                <card>  <p>
                    If you are so sore you can hardly walk, maybe sit it out for a day or two. If you feel like you can run a little further than you planned, try it out! That is part of the fun of running—testing yourself.</p>
                    </card>
                  </div>
</div>






</div>
 	 </ion-content>
</ion-view>
