/* Empty. Add your own CSS if you like */
.frame_look_feel {
    background-color: red;
}
.weatherinfo {
    text-align: center;
}
.badge-left {
  left: 26px;
  width: 52px;
  font-size: 14px;
  top: 40px !important;
}
.badge-lower {
  left: 26px;
  top: 60px !important;
  width: 52px;
  font-size: 14px;
}
.badge-upper {
  left: 38px;
  width: 52px;
  font-size: 18px;
}
.item-divider{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    z-index: 3 !important;
    background-color: white;
    font-weight:800;
}
.divider{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    z-index: 3 !important;
    vertical-align:middle;
}
.app-icon {
    background-color: #fff;
    background: url('../img/icon.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}
/*.wave-button {
  padding-left: 95px;
}*/
.item {
  border-style: none;
}
.item-dark {
    background-color: #000 !important;
}
/*.title-left {
  text-align: left;
  left:0px;
}*/
.chart-container {
  width: 100%;
  height: 100%;
}
ul.circle {list-style-type: circle; padding-left: 30px;}
.row-header {
    background-color: #efefef;
}
.col-sep {
  border-bottom: 1px solid lightgray;
}
.table {
  padding-left: 16px;
  padding-right: 16px;
}
.leaflet-circle-marker{
    background-color: blue;
    color: white;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
.leaflet-circle-marker-start{
    background-color: green;
    color: white;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
.leaflet-circle-marker-end{
    background-color: red;
    color: white;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}
.menu .bar.bar-header.expanded {
    background-image: url('../img/about-bg.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}
.bar-dark {
    background-color: #000000 !important;
}
.menu.menu-left * {
    font-weight: bold;
}
h2 {
   text-align:left;
}
p {
   text-align:left;
}
.bar-running{
    background-color: #000;
    text-align:center;
}
.black-bg{
    background-color: #000;
}
.fileUpload input.upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload  {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.doughnutwithvalue-legend{list-style-type:none;margin-top:5px;text-align:center;-webkit-padding-start:0;-moz-padding-start:0;padding-left:0}
.doughnutwithvalue-legend li{display:inline-block;white-space:nowrap;position:relative;margin-bottom:4px;border-radius:5px;padding:2px 8px 2px 28px;font-size:smaller;cursor:default}
.doughnutwithvalue-legend li span{display:block;position:absolute;left:0;top:0;width:20px;height:20px;border-radius:5px}
.doughnutwithvalue-legend {
    list-style: none;
    right: 8px;
    top: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.doughnutwithvalue-legend ul {
    margin-left: 30px;
}
.doughnutwithvalue-legend li {
    position: relative;
    /*display: table;*/
    /*min-width: 190px;*/
}
/*.doughnut-legend span {
    padding-left: 20px;
    position: relative !important;
    text-indent: 10px;
}*/
.unit {
    font-size:24px;
}
.miniicon {
    padding-left:15px;
    /*padding-right:5px;  */
}
.wrap {
    white-space: normal;
}
.leftpad {
    margin-right: 10px;
    display: inline-block;
}
.rightpad {
    margin-left: 10px;
}
.center {
    text-align: center;
}
.img-responsive{
width: 100%;
height: auto;
}
.img-help{
width: 75%;
height: auto;
}
small {
    font-size: 70%;
    white-space: normal;
    width:100%;
}
.optionList{
    position:absolute;
    width:100%;
    z-index:100;
   /* height:200px;*/
}
.equipment-avatar{
    top:8px !important;
}
.modal-select-close-button {
    width:100% !important;
    max-width: 100% !important;
}
.button-fab-almost-bottom-right {
    bottom: 96px !important;
}
.popover {
    height: 160px;
}
.popover i {
    margin-right: 10px;
}
.item h1 {
    font-size: 32px !important;
}
.mid-bar h3 {
    font-size: 1.5em !important;
}
.signupbutton{
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 25px;
}
input[type=text],
input[type=password],
input[type=email]
 {
    border-radius: 20px;
}
.confirmpassword{
    padding-left: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
}
h6{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.signup-bckground-color {
    background-color:#80dfff;
}
.signup{
   height:auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.signin-bckground-color {
    background-color:#80dfff;

}
.signinloginbutton{
    padding-right: 0%;
}
.login{
    height:auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.profile-picture {
  vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.black{
    color: #000000;
}

.signin-input-bckground-color {
    background-color:#fff;

}

.errorMessage{
    /* color:#FD1E31;
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-weight: bold; */
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #D8000C;
    background-color: #FFBABA;
}


input.form-control:hover,
input.form-control:focus {
    border: solid 2px gray;
}
input.ng-invalid.ng-touched{
    border: solid 2px red;
}

.food_box{
    display: flex;
    align-items: center;
}

ion-item.food_box:hover {
  background-color: #F5F5F5;
}

.list_header{
    background-color: grey;
    text-align:center;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}
input[type=number]{
  text-align:right;
}

input[type=submit] {
  width: 95%;
  background-color: #387ef5;
  color: white;
  padding: 14px 10px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3F51B5;
}

.congratulations {
    background-image: url('../../img/confetti.png');
    background-repeat: no-repeat;
}

.square {
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 40%;
    border-radius: 20px;
    background-color:#80dfff;
    overflow: hidden;
}

.rs{
    display: inline-block;
    position: fixed;
    margin-top: 10px;
    left: 37.5%;
    width:25%;
    height:17%;
}

.write{
    display: inline-block;
    position: fixed;
    top: 40%;
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    font-weight: bold;
    color:white;
    text-align: center;
    width: 70%;
    left:15%;

}
.writes1{
    display: inline-block;
    position: fixed;
    top: 46%;
    font-size:14px;
    font-family: 'Lato',verdana, sans-serif;
    color:white;
    text-align: center;
    width: 60%;
    left:20%;
}

#cntbtn{
    display: inline-block;
    position: fixed;
    top: 70%;
    width:70%;
    left:15%;
}
